@model PFC.WebApp.Data.Models.Plan

@{
    ViewBag.Subtitle = "Detalles";
    ViewBag.ReturnUrl = Url.Action("Index");
}


<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Charge)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Charge)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.VoicePlan)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.VoicePlan)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.DataPlan)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.DataPlan)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.SMSPlan)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.SMSPlan)
    </dd>
</dl>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-default">Volver</a>
</div>
